<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Modificar datos</title>
    <link rel="shortcut icon" href="img/alexcgdesign.png" type="image/x-icon">
    <link rel="stylesheet" href="../../css/estilos2.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <section class="portafolio">
            <div class="contenedor">
                <h2 class="titulo">CONOCE LOS DATOS MAS ACTUALIZADOS</h2>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="../../img/botella1.webp" alt=""></a>
                        <div class="hover-galeria">
						<a href="tablaMundiales.php"><img src="../../img/icono1.png" alt=""></a>
                            <p>MUNDIAL</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="../../img/botella2.webp" alt="">
                        <div class="hover-galeria">
                        <a href="tablaEquipo.php"><img src="../../img/icono1.png" alt=""></a>
                            <p>EQUIPOS</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="../../img/botella4.webp" alt="">
                        <div class="hover-galeria">
                        <a href="tablaPartidos.php"><img src="../../img/icono1.png" alt=""></a>
                            <p>PARTIDOS</p>
                        </div>
                    </div>
                
                    
                    </div>
                </div>
            </div>
        </section>
    </main>

</body>

</html>